.login {
  padding: 30px;
}

header > .login-page-h1 {
  background-color: #45474A;
  color: #F9F9FA;
  text-align: center
}

.login-data, .login-confirm {
  text-align: center;
  margin-top: 50px
}

.login-form {
  padding: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.login-button {
  margin-left: -10px;
  background-color: #B4E4B4;
  border: 2px solid #B4E4B4;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #87D488;
  border: 2px solid #87D488;
  z-index: 1000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.register {
  margin-left: 80px;
  color: #45474A
}

.register:hover {
  z-index: 1000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: black
}


@media only screen and (min-width: 360px) {
  .login-form {
    width: 65%
  }
}

@media only screen and (min-width: 411px) {
  .login-form {
    width: 55%
  }
}

@media only screen and (min-width: 760px) {
   .login-form {
     width: 28%;
   }
}

@media only screen and (min-width: 1024px) {
  .login-form {
    width: 20%
  }
}

