.MyRoutines {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.AddNewRoutineForm, .edit, .delete, .add-exercise, .delete-exercise, .save-routine {
  background-color: #B4E4B4;
  border: 2px solid #B4E4B4;
  border-radius: 5px;
  color: white;
}

.add-exercise, .save-routine {
  margin-top: 10px;
  margin-bottom: 10px
}

.delete-exercise {
  margin-bottom: 20px
}

.add-exercise-form {
  margin-top: 20px
}

.AddNewRoutineForm:hover, .logout:hover, .add-exercise:hover, .save-routine:hover {
  background-color: #87D488;
  border: 2px solid #87D488;
  z-index: 1000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.new-routine-form {
  margin-top: 30px;
  margin-bottom: 50px
}

.edit:hover {
  background-color: #428F43;
  border: 2px solid #428F43;
  z-index: 1000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.delete:hover, .delete-exercise:hover {
  background-color: #ff4f4f;
  border: 2px solid #ff4f4f;
  z-index: 1000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.edit, .delete {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 35px;
  margin-bottom: 10px
}

.header {
 background-color: #F1EEEB;
 color: #45474A;
 text-align: center
}

.header > * {
  display: inline-block;
}

.logout {
  background-color: #B4E4B4;
  border: 2px solid #B4E4B4;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
}
.user-greeting {
  margin-right: 20px
}

.Routines {
  list-style: none;
  padding-left: 0;
  text-align: center
}
.routine {
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #87D488;
  padding: 10px;
  border-radius: 10px;
  background-color: #87D488;
  color:#FFFFFF;
  width: 80%;
}

.routine-title {
  display: block;
  text-align: center
}
.routine:hover {
  background-color: #5AC45C;
}

.description {
  margin-top: 50px;
  margin-bottom: 50px
}

.exercise-name {
  display: block;
  margin-bottom: 10px;
  text-align: center
}

.exercises-ul {
  list-style: none;
  padding-left: 0;
}

.exercise-li {
  border: 1px solid #78CE79;
  background-color: #78CE79;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center
}

.exercise-li:hover {
  border: 1px solid #A5DEA6;
  background-color: #A5DEA6;
}
.exercise-li > * {
  display: inline-block;
  margin-right: 5px
}

@media only screen and (min-width: 360px) {
  .NewRoutine, .MyRoutines > h3 {
    margin-left: 10px
  }

  .edit-routine-form > .title-label {
    margin-right: 40px;
  }

  .edit-routine-form > .description-label {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 411px) {
  .NewRoutine, .MyRoutines > h3 {
    margin-left: 15px
  }

  .new-routine-form > label {
    margin-right: 60px
  }

  .edit-routine-form > .description-label {
    margin-right: 90px;
  }
}

@media only screen and (min-width: 760px) {
  .NewRoutine, .MyRoutines > h3 {
    margin-left: 30px
  }

  .MyRoutines {
    width: 60%
  }

  .logout {
    margin-left: 120px
  }

  #SearchBar {
    margin-left: 40px
  }

  .user-greeting {
    margin-left: -65px;
  }

  .new-routine-form > label {
    margin-right: 180px
  }

  .edit-routine-form > .description-label {
    margin-left: 80px
  }

  .edit-routine-form > #description {
    margin-left: 100px;
    margin-right: 110px
  }
}

@media only screen and (min-width: 1024px) {
  .NewRoutine, .MyRoutines > h3 {
    margin-left: 35px
  }

  .MyRoutines {
    width: 35%
  }

  .user-greeting {
    margin-left: -40px;
  }

  .logout {
    margin-left: 160px
  }
}

@media only screen and (min-width: 1600px) {
  .new-routine-form > label {
    margin-right: 280px
  }
}