.registration-form {
  padding: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 60%
}

.to-login-page {
  margin-left: 80px;
}

.home > h2 {
  color: #F9F9FA;
  text-align: center
}

.register-button {
  background-color: #B4E4B4;
  border: 2px solid #B4E4B4;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.register-button:hover {
  background-color: #87D488;
  border: 2px solid #87D488;
}

@media only screen and (min-width: 360px) {
  .registration-form {
    width: 55%
  }
}

@media only screen and (min-width: 411px) {
  .registration-form {
    width: 46%
  }
}

@media only screen and (min-width: 760px) {
  .registration-form {
    width: 25%
  }
}

@media only screen and (min-width: 1024px) {
  .registration-form {
    width: 19%
  }
}